{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<head>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

  {% load static %}
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
<div class="wrapper">
    <div id="formContent">
      <h2>Login</h2>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="underlineHover" type="submit" value="Login"></input>
      </form>
    </div>

    <div id="formFooter">
      <p>Haven't registered for an account?</p>
      <a class="underlineHover" href="{% url 'signup' %}">Sign Up</a>
    </div>
  </div>

<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>
{% endblock %}