<form method="post">
    {% csrf_token %}
    <p>
        <label>Website: </label>{{ add_form.web }}
    </p>
    <p>
        <label>UserID: </label>{{ add_form.userid }}
    </p>
    <p>
        <label>Password: </label>{{ add_form.pw }}
    </p>

    <input type="submit" name="AddSubmit" value="Submit">
</form>

<form method="post">
    {% csrf_token %}
    <div id=password>
    <h3>Generate a password here!</h3>
    <p>You may edit generated password here and paste it into the password field.</p>
    <output name="password" size="{{ length }}" contenteditable="true">{{ password }}</output>
    </div>
    <ul>
        {{ generate_form.as_ul }}
    </ul>
    <p><input type="submit" name="GenerateSubmit" value="Generate password"></p>
</form>

<p><a href='../generate_pw/'>Generate passwords here</a></p>
<p><a href='../'>Back to passwords</a></p>