<!doctype html>

{% if user.is_authenticated %}
<head>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  {% load static %}
  <link rel="stylesheet" href="{% static 'password/index.css' %}">
</head>

<div class="header">
  <a href="{% url 'home' %}">Much Security Very Password</a>
  <div class="header-right">
    <a class = "active" href="{% url 'index' %}" class="underlineHover">Passwords</a>
    <a href="{% url 'about' %}" class="underlineHover">About</a>
  </div>
</div>

<body>
<div class="container-fluid">
  <div class="row">
      <div class="col-4">
        <div class="sidebar">
          <h1>Passwords</h1>
          <h3 id="userInfo">User: <b>{{ user.username }}</b></h3>
          <form method="GET" action="{% url 'search' %}">
              <input type=text name="q" value="{{request.GET.q}}" placeholder="Search" />
              <button id="searchButton" type="submit"><span class="fa fa-search"></span></button>
          </form>

          <p><ul><a id="sidebarContent" class="underlineHover" href='add_pw/'>Add password</a></ul>
          <ul><a id="sidebarContent" class="underlineHover" href="{% url 'logout' %}">Logout</a></ul></p>
        </div>
      </div>

      <div class="col-8">
        {% if data %}
            <ul>
            {% for obj in data %}
            <div class="wrapper">
              <div id="formContent">
                <p>
                <li> <b>Website URL:</b> {{obj.web}} </li>
                <li> <b>UserID:</b> {{obj.userid}} </li>
                <li> <b>Password:</b> {{obj.pw}} </li></p>
                <p><a id="edit" style="text-decoration: none" href='{{obj.id}}/edit/'>Edit</span>
                  <a id="edit" style="text-decoration: none" href='{{obj.id}}/delete/'>Delete</a></p>
              </div>
            </div>
            {% endfor %}
            </ul>
        {% else %}
        <div class="vertical-center">
            <p>No passwords are available.</p>
            <p><a class="underlineHover" href="add_pw/">Add password</a></p>
        </div>
        {% endif %}
      </div>
    </div>
  </div>

  {% else %}
  <div class="vertical-center">
        <p>You are not logged in.</p>
        <p><a class="underlineHover" href='../'>Back to home</a></p>
  </div>
  {% endif %}
</div>

<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>