{% if user.is_authenticated %}
    {% if results %}
        <ul>
        {% for obj in results %}
        <fieldset style="width:300px">
        <legend>({{ obj.id }}) Password Information</legend>
        <p><li> Website: {{obj.web}} </li>
        <li> UserID: {{obj.userid}} </li>
        <li> Password: {{obj.pw}} </li></p>
        <li><a href='../{{obj.id}}/delete/'>Delete</a></li>
        <li><a href='../{{obj.id}}/edit/'>Edit</a></li>
        </fieldset>
        {% endfor %}
    {% else %}
        <p>No password information match the search.</p>
        <a href='../add_pw/'>Add passwords</a>
    {% endif %}
<p><a href='../'>Back to passwords</a></p>
{% endif %}