{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Hello {{ user.username }}! Manage your passwords here.
  <p><a href='add_pw/'>Add password</a></p>
  <p><a href='index/'>View passwords</a></p>
  <p><a href="{% url 'logout' %}">Logout</a></p>
{% else %}
  <p>You are not logged in.</p>
  <a href="{% url 'login' %}">Login</a>
  <p>Haven't registered for an account?</p>
  <a href="{% url 'signup' %}">Sign Up</a>
{% endif %}
{% endblock %}