<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
      
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/_base.css' %}">
    </head>
<body>

    <div class="header">
        <a href="{% url 'home' %}">Much Security Very Password</a>
        <div class="header-right">
            <a href="{% url 'index' %}" class="underlineHover">Passwords</a>
            <a href="{% url 'about' %}" class="underlineHover">About</a>
        </div>
    </div>
              
    <div class="wrapper">
        <div id="formContent">
                {% block content %}
                {% endblock %}
            <!-- <h2>Login</h2>
                <p>Enter your credentials.</p>
            <form action="" method="post">
                    {% csrf_token %}
                <input type="hidden" name="csrfmiddlewaretoken" value="omRJ8mklOfoNUiM1GXb4eUfw5ihE3HeePHs7cr7sl3c90YOXoL1fcDPGP8PY1vHS">
            
            <table>
                <input type="hidden" name="login_view-current_step" value="auth" id="id_login_view-current_step">
                <tbody><tr><th><label for="id_auth-username">Username:</label></th><td><input type="text" name="auth-username" autofocus="" required="" id="id_auth-username"></td></tr>
                <tr><th><label for="id_auth-password">Password:</label></th><td><input type="password" name="auth-password" required="" id="id_auth-password"></td></tr>
                </tbody>
            </table>

                <div style="margin-left: -9999px"><input type="submit" value=""></div>
                <button type="submit" class="btn btn-primary">Next</button>
            </form> -->
        </div>

        <div id="formFooter">
            <p><a class="underlineHover" href="{% url 'signup' %}">Sign up</a></p>
            <p><a class="underlineHover" href="{% url 'login_hint' %}">Forgot Password?</a></p>
        </div>
    </div>

  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </body>
  
</html>